*{
    margin: 0;
    padding: 0;
    /* outline: solid 1px #ff0000; */

}
.container{
    padding: 25px 0px 0px 0px;
    width: 890px; 
    height: 915px;
    margin: 20px auto;
    background-color: #f5f5ff;
}

span {
    color: #afd3ee;
    text-decoration: underline;
    cursor: pointer;
}

h1{
    text-align: center;
    color: #3d4829;
    font-size: 60px;
}
.foot{
    text-align: center;
    font-family: 'Arial';

}
.row{
    padding: 20px;
    height: 200px;
    margin-left: 10px;

}
.fila1, .fila2,.fila3{
    display: flex;
    justify-content: space-around;
}

.fila1{
    background-color: #4cbafa;  /* Color de fondo del rectángulo */
    
    height: 250px;
}

img{
    height: 200px;
}




.fila2{
    background-color: #d79edb;  /* Color de fondo del rectángulo */  
}

.fila3{
    background-color: #fcfcff;  /* Color de fondo del rectángulo */
}