*{
    padding:0;
    margin:0;
    font-family: 'Courier New';
    /* outline: solid 1px red; */
}

.container{
    width: 100%;
    padding: 15px;
    background-color: #333333 ;
    animation: Change-border 10s infinite linear;
    border: solid 3px black;
    
}
.nav{
    display: flex;
    justify-content: space-around;
}


h1{
    color: white;
}
.nav-links{
    display: flex;
    padding-left: 400px;

}
li{
    list-style-type: none; /*quita viñetas de elemento lista*/
    
}
a{
    margin-left: 50px;
    text-decoration: none; /*quita decoracion de etiqueta anchor*/
    color: #aaaaaa;

}
.btn{
    background-color: #17a2b8;
    color: white;
    outline: 1.5px solid black;
    box-shadow: 4px 4px rgb(0, 0, 0); /* Sombra con desplazamiento de 3px y opacidad del 30% */
    width: 75px;
    margin-left: 50px;
}

@keyframes Change-border{
    0%, 100%{
        border-color: green;
    }
    25%, 75%{
        border-color: red;
    }
    50%{
        border-color: blue;
    }
}