* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    padding: 20px;
}

p{
    margin-bottom: 40px;
    font-size: 30px;
    color: white;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background: #eebfbf;
    border: solid 7px #d68e8e ;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

button {
    background-color: #924949;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

